<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my.product.mapper.BrandMapper">

    <!--int insert(Brand brand);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand(
            name,pinyin,logo,description,keywords,
            sort ,sales,product_count,comment_count,positive_comment_count,
            enable
        )VALUES (
                 #{name},#{pinyin},#{logo},#{description},#{keywords},
                 #{sort},#{sales},#{productCount},#{commentCount},#{positiveCommentCount},
                 #{enable}
        )
    </insert>

    <!--int deleteById(Brand beand)-->
    <delete id="deleteById">
        delete from pms_brand where id = #{id};
    </delete>

    <!-- int updateById(Brand brand);-->
    <update id="update">
        update pms_brand
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="pinyin != null">
                pinyin = #{pinyin},
            </if>
            <if test="logo != null">
                logo = #{logo},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="keywords != null">
                keywords = #{keywords},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="sales != null">
                sales = #{sales},
            </if>
            <if test="productCount != null">
                product_count = #{productCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="positiveCommentCount != null">
                positive_comment_count = #{positiveCommentCount},
            </if>
            <if test="enable != null">
                enable = #{enable}
            </if>

        </set>
        where  id = #{id}
    </update>


    <select id="count" resultType="int">
        select count(*) from pms_brand
    </select>

<!--    &lt;!&ndash;BrandStandardVO getStandardById(Long id);&ndash;&gt;
    <select id="getStandardById" resultType="com.example.my.product.pojo.vo.BrandStandardVO">
        select
            name, pinyin,logo,description,keywords,
            sort, sales,
               product_count as productCount,
               comment_count as commentCount,
               positive_comment_count as  positiveCommentCount,
            enable
        from pms_brand
        where id = #{id}
    </select>-->
    <select id="getStandardById" resultType="com.example.my.product.pojo.vo.BrandStandardVO">
        select
            name, pinyin,logo,description,keywords,
            sort, sales,
            product_count,
            comment_count,
            positive_comment_count,
            enable
        from pms_brand
        where id = #{id}
    </select>


    <!--BrandListItemVO getList();-->
    <select id="getList" resultMap="ListItem">
        select
            <include refid="getLists"/>
        from pms_brand
        order by id,name
    </select>

    <sql id="getLists">
        name, pinyin,logo,description,keywords,
            sort, sales,
            product_count,
            comment_count,
            positive_comment_count,
            enable
    </sql>

    <resultMap id="ListItem" type="com.example.my.product.pojo.vo.BrandListItemVO">

    </resultMap>

</mapper>
