<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my.product.mapper.PictureMapper">

    <!--int insert(Picture picture);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_picture(
            album_id,url,description,width,height,
            is_cover , sort
        )VALUES (
                 #{albumId},#{url},#{description},#{width},#{height},
                 #{isCover},#{sort}
        )
    </insert>

    <!--int deleteById(Picture picture)-->
    <delete id="deleteById">
        delete from pms_brand where id = #{id};
    </delete>


    <!--int deleteByIds(List<Picture> id);-->
    <delete id="deleteByIds">
        delete from pms_picture where id in (
            <foreach collection="list" item="id" separator=",">
                #{id}
            </foreach>
            )
    </delete>
</mapper>
